@tailwind base;

@tailwind components;

@tailwind utilities;

.prepclass-background {
    background-color: #5f9048;
}

.prepclass-color {
    color: #5f9048;
}

.prepclass-border {
    border: 1px solid #5f9048;
}

.prepclass-gray {
    background-color: #f6f6f6;
}

.prepclass-background-light {
    background-color: #27af60;
}

.prepclass-grid {
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.prepclass-xflow {
    margin-left: -14rem;
    padding-left: 14rem;
}
